.toggle-btn {
    cursor: pointer;
    padding: 5px 10px;
    background-color: burlywood;
    color: black;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .dark-mode {
    background-color: black;
    color: black;
  }

  #search-input {
    padding: 8px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px; 
  }
  body{
    background-color: greenyellow;
    text-align: centre;
  }
  h{
    text-align: center;
    color:darkred;
  }
  p{
    color: blue;
  }
  p{
    border: 2px solid black;
    text-align: center;
    width: 300px;
    height: 20px;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: ;
    background-color: aquamarine;
    flex-wrap:  ;
  }